*{
    margin: 0;
    padding: 0;
}

body{
justify-content: center;
background-color: antiquewhite;
}

main{
display: flex;
justify-content: center;
margin-top: 150px;
border-radius: 10px;
}

.image-1{
    height: 320px;
border-top-left-radius:7px;
border-bottom-left-radius: 7px;
}

.main-text{
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    height: 320px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.perfume{
    margin-top: 15px;
    margin-bottom: 15px;
    color: grey;
    font-size: small;
}

.main-text >h2{
    margin-bottom: 20px;
    font-weight: bolder;
}

.floral{
    margin-bottom: 15px;
    color: grey;
    font-size: small;
}

.price-tag{
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.price-tag >h2{
    color: green;
    font-weight: bolder;
}

.price-tag >p{
    text-decoration: line-through;
    color: grey;
}

button{
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    background-color: darkgreen;
    border: 0;
}

button:hover {
    cursor: pointer;
    background-color: darkslategrey;
}